body {
    margin: 10px;
}

.logo {
    text-align: center;
}

.logo img {
    height: 75px;
    margin: 20px 20px 10px;
}

.description {
    text-align: center;
    margin: 20px;
}

.layui-form .layui-row {
    margin: 10px;
}

.file-upload {
    text-align: center;
}

.configure-form button {
    text-align: center;
    margin: 5px;
}

.output-img {
    margin: 20px;
}

.output-img img {
    max-width: 100%;
}

.image-field {
    text-align: center;
    margin: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.warning-quote {
    border-left-color: #ff5722;
}

.error {
    position: absolute;
    background-color: #FF000064;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 4px;
}

.fork-github {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

@media (max-width: 768px) {
}
