<style>
    .avatar-item {
        display: inline-block;
    }

    .avatar-img {
        width: 30px;
        border-radius: 100%;
    }

</style>

<footer>
    &copy;&nbsp;
    <div class="avatar-item">
        <a href="https://github.com/Yinr">
            <img class="avatar-img" src="https://avatars0.githubusercontent.com/u/9482504?s=60&v=4" alt="Yinr">
            <br>
            <span>Yinr</span>
        </a>
    </div>
    &nbsp;&amp;&nbsp;
    <div class="avatar-item">
        <a href="https://github.com/cycoe">
            <img class="avatar-img" src="https://avatars0.githubusercontent.com/u/19471395?s=60&v=4" alt="Cycoe">
            <br>
            <span>Cycoe</span>
        </a>
    </div>
    &nbsp;2019.
</footer>
