<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>GIF Progressor</title>
    <style>
        body {
            text-align: center;
        }

        .header {
            text-align: center;
        }

        #logo {
            height: 50px;
            margin: 20px;
        }

        .error {
            position: absolute;
            background-color: #FF000064;
            width: 100%;
            top: 0;
            left: 0;
            text-align: center;
            padding: 4px;
        }

    </style>
</head>

<body>
    <div class="header">
        <img id="logo" src="/assets/gf_logo.png" alt="GIF Progressor" />
        <!-- GIF Progressor -->
    </div>

    <div class="upload-form">
        <form method="POST" enctype="multipart/form-data">
            <p>
                <input id="input-color" type="color" name="color">
                <select id="input-position" name="position">
                    <option value="1">topLeft</option>
                    <option value="2">top</option>
                    <option value="3">topRight</option>
                    <option value="4">bottomLeft</option>
                    <option value="5">bottom</option>
                    <option value="6">bottomRight</option>
                    <option value="7">leftTop</option>
                    <option value="8">left</option>
                    <option value="9">leftBottom</option>
                    <option value="10">rightTop</option>
                    <option value="11">right</option>
                    <option value="12">rightBottom</option>
                </select>
            </p>
            <p>
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </p>
        </form>
    </div>

    <!-- Show Processed Images -->
    {% if upload_image %}
    <div>
        <img src="{{ upload_image }}">
    </div>
    {% endif %}

    <!-- Error Messages -->
    {% if error_message %}
    <div class="error">
        <span>{{ error_message }}</span>
    </div>
    {% endif %}

    <script>
        document.getElementById("input-color").value = "{{ color }}" || "#cb5050";
        document.getElementById("input-position").value = "{{ position }}" || "5";

    </script>

</body>

</html>
