<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>GIF Progressor</title>
    <link type="text/css" rel="stylesheet" href="/assets/style.css" />
</head>

<body>
    <div class="header">
        <img id="logo" src="/assets/gf_logo.png" alt="GIF Progressor" />
        <!-- GIF Progressor -->
    </div>

    <div class="upload-form">
        <form method="POST" enctype="multipart/form-data">
            <p>
                <span> Select Color: </span>
                <input id="input-color" type="color" name="color">
            </p>
            <p>
                <span> Select Progress Bar Position: </span>
                <select id="input-position" name="position">
                    <option value="1">topLeft</option>
                    <option value="2">top</option>
                    <option value="3">topRight</option>
                    <option value="4">bottomLeft</option>
                    <option value="5">bottom</option>
                    <option value="6">bottomRight</option>
                    <option value="7">leftTop</option>
                    <option value="8">left</option>
                    <option value="9">leftBottom</option>
                    <option value="10">rightTop</option>
                    <option value="11">right</option>
                    <option value="12">rightBottom</option>
                </select>
            </p>
            <p>
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </p>
        </form>
    </div>

    {% if upload_image %}
    <!-- Show Processed Images -->
    <div class="output-img">
        <img src="{{ upload_image }}">
    </div>
    {% endif %}

    {% if error_message %}
    <!-- Error Messages -->
    <div class="error">
        <span>{{ error_message }}</span>
    </div>
    {% endif %}

    <script>
        document.getElementById("input-color").value = "{{ color }}" || "#ffa0a0";
        document.getElementById("input-position").value = "{{ position }}" || "5";

    </script>

</body>

</html>
